accelerate==1.1.1
decord==0.6.0
diffusers==0.31.0
einops==0.8.0
matplotlib==3.9.2
omegaconf==2.3.0
opencv-python==4.10.0.84
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.67.0
transformers==4.46.3
xformers==0.0.16

